<!--  This container is <strong>fullwidth</strong> <em>until</em> the <code>$fullhd</code> breakpoint. -->
<div class="container is-fullhd ">
  <div class="coloumn has-text-centered ">
    <div class="notification has-background-white">

<!-- article content starts here -->
<h2 class="title is-3 ">Blog Articles</h2>
<% if user_signed_in? %>
<%= link_to 'New article', new_article_path, class: "button is-dark is-medium" %>
<% end %>

<%= render 'article' %>

<%= form_with scope: :article, url: articles_path, local: true do |form| %>
<% end %>
</div>
</div>
</div>
</div>


<!-- article content ends here -->
<!-- This container ends here <strong>fullwidth</strong> <em>until</em> the <code>$fullhd</code> breakpoint. -->
